<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        .navbar { border-radius:0; }
    </style>

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="routerApp">
    <a ui-sref="home.contact">Contact Page</a>
    <div ui-view></div>

    <div ng-view></div>
    <script type="text/ng-template" id="addStudent.htm">
        <h2> Add Student</h2>
        {{message}}
    </script>

    <div ng-controller="mainController">
			<!--<p>{{arr1}}</p>-->
			<!--<p>{{::arr2 | moreThan10}}</p>-->
			<p>{{([10, 20, 4, 5])| moreThan10}}</p>

			<button ng-click="updateArr1()">Update Arr1</button>
			<button ng-click="updateArr2()">Update Arr2</button>
			<button ng-click="updateArr3()">Update Arr3</button>
    </div>
</body>
</html>